:root {
    --card-height: 90vh;
    --card-width: 75vw;
    --left-banner-width: calc(var(--card-width) * 0.4);
    --signup-form-width: calc(var(--card-width) * 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

.main-card {
    display: flex;
    
    height: var(--card-height);
    width: var(--card-width);
    max-width: 1400px; /* prevent card from getting too wide on large screens */
    max-height: 1000px; /* prevent card from being too tall */
}

.left-banner {
    background-color: white;

    width: var(--left-banner-width);
}

.left-banner img {
    display: block;

    max-width: 100%;
    height: 100%;
}

.sign-up-form {
    border: 1px solid blue;
    background-color: white;

    width: var(--signup-form-width);
}