html {
    background-color: black;
}
.main-card {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.left-banner {
    border: 1px solid green;
    background-color: white;


    height: 50vh;
    width: 20vw;
}

.sign-up-form {
    border: 1px solid red;
    background-color: white;

    height: 50vh;
    width: 50vw;
}