:root {
    --card-height: 90vh;
    --card-width: 75vw;
    --left-banner-width: calc(var(--card-width) * 0.4);
    --signup-form-width: calc(var(--card-width) * 0.7);
}

@font-face {
    font-family: avara;
    src: url(assets/fonts/Avara.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

.main-card {
    display: flex;
    
    height: var(--card-height);
    width: var(--card-width);
    max-width: 1400px;
    max-height: 1000px;
}

.left-banner {
    background-image: url(assets/images/large-background-image.jpg);
    background-size: cover;

    color: white;
    font-family: avara;
    width: var(--left-banner-width);
}

.sign-up-form {
    border: 1px solid blue;
    background-color: white;

    width: var(--signup-form-width);
}